.container-fluid
{
   padding: 5px;
}

.img-fluid
{
   width: 1550px;

}


li a
{
   margin-left: 60px;
   font-size: 23px;
}



#home-img
{
   height: 650px;
}

/* Mumbai section */


.mumbai-head
{
   text-align: center;
   font-size: 30px;
   font-family: cursive;
}

 .mumbai-img
 {
   margin: 10px;
   width: 700px;
   height: 400px;
 }
 
 .m-para
 {
   padding: 10px;
   margin: 10px;
 }

/*Hill Station*/

.hill-station
{
   font-size: 40px;
   font-family: cursive;
   text-align: center;

}
.hill-container
{
   display: flex;
   width: fit-content;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 15px;

   
}

.card
{
   box-shadow: 1px 3px 5px 3px black;
}




/* footer section*/

.footer-main {
   display:flex;
   justify-content: space-evenly;
   background-color:goldenrod ;
   color: black;
   flex-wrap: wrap;
   padding: 20px;
}
a img
{
   height: 35px;
   margin: 5px;
   box-shadow:1px 3px 5px 2px black;
   border-radius: 10px;
   
}
a img:hover
{
   height: 32px;
}
 a:hover img
{
    transform: translateY(-10px);
    transition: 1s;
}

p a
{
   color: #000000;
   text-decoration: none;
   margin-left: 10px;
}

p button
{
   border-radius: 5px;
   background-color: #000000;
   color: #fff;
}
p button:hover
{
   background-color:blue;
   color: black;
}
p input
{
   border-radius: 5px;
   padding: 5px 10px;
}

@media (max-width: 600px) {
   .footer-about, .footer-services, .footer-contact, .footer-follow {
       width: 100%;
       margin-bottom: 20px;
   }
}