body{
    margin:0%;
    background: linear-gradient(to top right, #ccffff 0%, #ffcccc 100%);
    font-family: Arial, Helvetica, sans-serif;
}






.discription{
    padding-left: 30px;
    padding-right: 30px;
    height: 250px;
    margin-bottom: 30px;
}
.cityname{
    
    font-size:40px;
    font-weight:bold;
    text-align: center;
}
.cityinfo{
    font-size: 20px;
    text-align: center;
}
.cont-place{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.place{
    
    display:inline-block;
    border-radius: 5px;
    padding: 15px;
    height:500px;
    width:450px;
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    
}
.place:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition:0.3s;
}

.know-more-btn
{
    border-radius: 5px;
    display: block;
    margin: 5px auto;
    background-color: #000;
    color: #ccffff;
}
img{
    height:250px;
    width:350px;    
}
p{
    font-size:25px;
    font-weight:bold;
    text-align: center;
}
.info{
    font-size: 15px;
}


.p-foot{
    font-size: 15px;
}

/* footer section*/

.footer-main {
    display:flex;
    justify-content: space-evenly;
    background-color:goldenrod ;
    color: black;
    flex-wrap: wrap;
   padding: 20px;
 }
 
 @media (max-width: 600px) {
    .footer-about, .footer-services, .footer-contact, .footer-follow {
        width: 100%;
        margin-bottom: 20px;
    }
 }